<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque
      culpa, eius vero deleniti quas?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni a quo optio molestias quos?
    </p>
    <footer><div class="media">
      <div class="media__image">
        <svg class="icon icon--primary qopte">
          <use xlink:href="images/sprite.svg#line"><use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Harsh Barot</h3>
        <p class="quote__organization">ABC company</p>
      </div>
    </div></footer>
  </blockquote>